#headimg{
	width: 114px;
	margin-left: 50px;
	border-radius: 20px;
}
.breadtxt{
	 font-size:small;
}
.foot{
	height: 30px;
	background: #d50000;
}
.namai , .tipai , .gamintojai, .apiemus{
	display: none;
}